<footer>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-7">
                <p>2023 - <b>Harry Potter Data</b> - Realizado por Vilte José Developer</p>
            </div>
            <div class="col-md-5">
                <p><b>Contacto:</b>
                    <span class="itemSocial"><a href="http://viltejosedev.netlify.app" target="_blank"><i
                                class="fa-solid fa-link fa-fade" style="color: rgb(40, 232, 40);"></i> Portafolio</a>
                    </span>
                    <span class="itemSocial"><a href="https://www.linkedin.com/in/joseviltedev/" target="_blank"><i
                                class="fa-brands fa-linkedin fa-fade" style="color: rgb(20, 149, 255);"></i>
                            Linkedin</a></span>
                </p>
            </div>
        </div>
    </div>

</footer>