<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>2023 - Harry Potter Data - Web hecha por Vilte José Developer</p>
            </div>
            <div class="col-md-4">
                <p>Contacto:   
                    <span class="itemSocial"><a href="http://viltejosedev.netlify.app" target="_blank"> <i class="fa-solid fa-link fa-fade" style="color: #ffffff;"></i> Portafolio</a>  </span>
                    <span class="itemSocial"><a href="https://www.linkedin.com/in/joseviltedev/" target="_blank"> <i class="fa-brands fa-linkedin fa-fade" style="color: #ffffff;"></i> Linkedin</a></span>
                </p>
                
            </div>
        </div>
    </div>

</footer>