@import url('https://fonts.googleapis.com/css2?family=Benne&family=Old+Standard+TT&family=Tangerine:wght@700&display=swap');

section {
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    .card {
        color: white;
        background-color: #444;

        img {
            height: 17.3rem;
            object-fit: cover;
            background-color: rgba(0, 0, 0, 0);
        }

        .card-body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 3px 3px 8px;

            .tituloCard{
                h4 {
                    font-family: 'Benne', serif;
                    padding-top: 8px;
                    margin-bottom: 2px;
                }
            }
            p {
                font-family: 'Benne', serif;
                margin: 0;
            }
            button {
                width: 10em;
                height: 3em;
                position: relative;
                border: 3px ridge #149CEA;
                // outline: none;
                background-color: transparent;
                color: white;
                border-radius: 0.3rem;
                font-weight: bold;
                transition: 1s;

                &::after {
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: 3%;
                    width: 95%;
                    height: 40%;
                    background-color: #444;
                    transition: .5s;
                    transform-origin: center;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 80%;
                    left: 3%;
                    width: 95%;
                    height: 40%;
                    background-color: #444;
                    transition: .5s;
                    transform-origin: center;
                }

                // &:hover::after, &:hover::before{
                //     transform: scale(0);
                // }
                &:hover {
                    box-shadow: inset 0 0 25px #1479EA;

                    &::after,
                    &::before {
                        transform: scale(0);
                    }
                }
            }
        }

        transition-duration: .7s;

        &:hover {
            box-shadow: 0 0px 15px #ffffff, 0 0px 15px #ffffff, 0px 0 25px #01aff3, 0px 0 25px #00b7ff;
        }
    }

    .Gryffindor {
        background-color: #9c0a2e;

        .card-body {
            button {
                &::after {
                    background-color: #9c0a2e;
                }

                &::before {
                    background-color: #9c0a2e;
                }
            }
        }
    }

    .Slytherin {
        background-color: #0e5c3c;

        .card-body {
            button {
                &::after {
                    background-color: #0e5c3c;
                }

                &::before {
                    background-color: #0e5c3c;
                }
            }
        }
    }

    .Ravenclaw {
        background-color: #1d476f;

        .card-body {
            button {
                &::after {
                    background-color: #1d476f;
                }

                &::before {
                    background-color: #1d476f;
                }
            }
        }
    }

    .Hufflepuff {
        background-color: #e79408;

        .card-body {
            button {
                &::after {
                    background-color: #e79408;
                }

                &::before {
                    background-color: #e79408;
                }
            }
        }
    }

    #btnTodosPers {
        font-family: 'Benne', serif;
        font-size: 1.2rem;
        height: 2.8rem;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.75);
        &:hover{
            color: #0afc43;
            border:solid 3px #0afc43;
            box-shadow: 0 0 10px #0bee8c, 0 0 15px #0bee8c, 0 0 15px #0bee8c;
        }
    }
}