<section>
    <div class="container">
        <div class="row gap-3 justify-content-center">
            <div class="card  text-center" style="width: 15.5rem; height: 33rem;" *ngFor="let personaje of Personajes"
                [ngClass]="personaje.house">
                <img [src]="personaje.image" appImageDefault class="card-img-top" [alt]="personaje.name">
                <div class="card-body">
                    <div class="tituloCard">
                        <h4 class="card-title">{{personaje.name}}</h4>
                        <h5 class="card-title">{{personaje.house}}</h5>
                    </div>
                    <p class="card-text" *ngIf="personaje.actor"><b>Actor:</b> {{personaje.actor}}</p>
                    <p class="card-text" *ngIf="personaje.ancestry"><b>Ascendencia:</b> {{personaje.ancestry}}</p>
                    <p class="card-text" *ngIf="personaje.patronus"><b>Patronus:</b> {{personaje.patronus}}</p>
                    <button routerLink="/detail/{{personaje.id}}" class="btn ">Más Detalles...</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button id="btnTodosPers" routerLink="/characters" style="width: 20rem; margin-top: 1rem;"><b>Ver todos los
                    personajes...</b></button>
        </div>
    </div>
</section>