<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Información sobre la página</h2>
                <p>Web desarrollada utilizando la API de Harry Potter disponible en: https://hp-api.onrender.com. </p>
                <p>La información de los personajes se consume mediante una petición GET desde:
                    <a href="/assets/dataAPI/harryApi.json" target="_blank" rel="noopener noreferrer">IR A API</a>
                    https://hp-api.onrender.com/api/characters, pero se edito de forma local para que se disponga
                    con mayor cantidad de imagenés de personajes.</p>
                <p>Y la lista de hechizos se extrajo desde: https://hp-api.onrender.com/api/spells.</p>
                <p>Desarrollada con Angular</p>
                <p></p>
            </div>
        </div>
    </div>
</section>