<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Información sobre la página</h2>
                <br>
                <p>Web desarrollada en Angular 16</p>
                <p>Se utilizó una API de Harry Potter disponible <a href="https://hp-api.onrender.com"
                        target="_blank">aquí</a>. En ella se encuentra la información de los personajes como también
                    una lista de hechizos con su descripción correspondiente.</p>
                <p>De manera local se editó y agrego información en algunos personajes, para disponer de mayor cantidad
                    de imágenes. </p>
                <p>La API editada se encuentra <a href="/assets/dataAPI/harryApi.json" target="_blank">aquí.</a>
                </p>

            </div>
        </div>
    </div>
</section>