<section>
    <div class="container">
        <div class="row ">
            <div class="tarjeta col-md-6" *ngFor="let hechizo of Hechizos">
                <div class="cardImg">
                    <img src="../../../assets/wandHP.png" class="card-img-left"alt="varita" style="max-height: 6rem;">

                </div>
                <div class="card-text">
                    <h2>{{hechizo.name}}</h2>
                    <p>{{hechizo.description}}</p>
                </div>

            </div>
        </div>
    </div>
    
</section>