section{
        // background-image: url("https://www.desktopbackground.org/p/2014/02/26/723008_harry-potter-wallpapers-collection-29_1920x1080_h.jpg");
        background-image: url('https://raw.githubusercontent.com/JosephV95/Harry-Potter-Data/c32101bc12e551d5787770b80026c0a480915ea5/src/assets/bgGeneral.jpg');
        background-repeat: repeat-y;
        background-size: cover;
        background-attachment: fixed;
}