section{
        // background-image: url("https://www.desktopbackground.org/p/2014/02/26/723008_harry-potter-wallpapers-collection-29_1920x1080_h.jpg");
        background-image: url('https://www.xtrafondos.com/wallpapers/resoluciones/23/hogwarts-legacy_1920x1080_11563.jpg');
        background-repeat: repeat-y;
        background-size: cover;
        background-attachment: fixed;
}