<div id="contenedor">

    <header class="container">
            <div class="row">
                <div class="col-12">
                    <div class="logoImg">
                        <img src="../../../assets/logo_Harry_Potter.png" alt="HPLogo">
                    </div>
                    <h1>Datos sobre personajes en Harry Potter</h1>
                </div>
            </div>

            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
                            
                            <div class="container-fluid  ">
                              <a class="navbar-brand" href="#">Navbar</a>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                  <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Personajes</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Lista de Hechizos</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Sobre la Web</a>
                                  </li>
                                 
                                </ul>
                                
                              </div>
                            </div>
                          </nav>
                    </div>
                </div>
            </div>
    </header>

    <section>
        <div class="container">
            <div class="row gap-4 justify-content-center">
                <!-- <div class="col-12"> -->
                <div class="card  text-center" style="width: 18rem;" *ngFor="let personaje of Personajes">
                    <img [src]="personaje.image" class="card-img-top" [alt]="personaje.name">
                    <div class="card-body">
                        <h5 class="card-title">{{personaje.name}}</h5>
                        <h6 class="card-title">{{personaje.house}}</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text">{{personaje.actor}}</p>
                        <p class="card-text">{{personaje.patronus}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </section>

</div>