$colorH1 : rgb(228, 237, 243);

*{
    box-sizing: border-box;
    // margin: 0;
}

#contenedor{
    // background-image: url("https://www.desktopbackground.org/p/2014/02/26/723008_harry-potter-wallpapers-collection-29_1920x1080_h.jpg");
    background-image: url('https://www.xtrafondos.com/wallpapers/resoluciones/23/hogwarts-legacy_1920x1080_11563.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

header{
    margin-bottom: 10px;
    background-color: rgba(12, 76, 154, 0.905);
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 20px;
    text-align: center;
    // height: 50vh;
    // width: 80vw;
    h1{
        color: $colorH1
    };
    span{
        max-width: 100%;
        overflow: hidden;
    }
    // .logoImg{
        // width: 100%;
        img{
            max-height: 12rem;
            max-width: 100%;
        }
    // }
    
}

section{
    .card{
        img{
            height: 22rem;
            object-fit: contain;
            background-color: black;
        }
    }
}