<div id="contenedor">

    <header class="container">
        <div class="row">
            <div class="col-12" id="divHeader">
                <div id="logo">
                    <a routerLink="/home"><img src="../../../assets/logo_Harry_Potter.png" alt="HPLogo"> </a>
                </div>
                <h1>Datos sobre personajes en Harry Potter</h1>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
            <div class="container-fluid ">
                <a class="navbar-brand" href=""  style="margin: 0px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  display-flex justify-content-center " id="navbarTogglerDemo02">
                    <div id="listanav ">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">       <!--!   con routerLinkActive de angular el nav cambiara automaticamente el active (en sus button o a)-->
                                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/characters" routerLinkActive="active">Personajes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/spells" routerLinkActive="active">Lista de Hechizos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre la Web</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    

</div>