@import url('https://fonts.googleapis.com/css2?family=Benne&family=Tangerine:wght@700&display=swap');

$colorH1 : white;

* {
    box-sizing: border-box;
    // margin: 0;
}

#contenedor {
    // background-image: url("https://www.desktopbackground.org/p/2014/02/26/723008_harry-potter-wallpapers-collection-29_1920x1080_h.jpg");
    background-image: url('https://www.xtrafondos.com/wallpapers/resoluciones/23/hogwarts-legacy_1920x1080_11563.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

header {
    // margin-bottom: 10px;
    background-color: rgba(8, 45, 91, 0.585);
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    padding-top: 3rem;
    box-shadow: 0 3px 5px white, 0px 3px 25px rgb(21, 220, 242);

    h1 {
        color: $colorH1;
        font-family: 'Tangerine', cursive;
        font-size: 3rem;
        text-shadow: 0px 0px 10px rgb(21, 157, 242), 0px 0px 10px rgb(21, 220, 242),0px 0px 10px rgb(21, 220, 242);
    }

    img {
        max-height: 12rem;
        max-width: 100%;
    }
}

nav{
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 20;
}
ul li{
    // width: 250px;
    font-size: 1.2rem;
    margin: 0 10px;
    font-family: 'Benne', serif;


}

section {
    .card {
        img {
            height: 22rem;
            object-fit: contain;
            background-color: black;
        }
        p{
            font-family: 'Benne', serif;
            font-weight: bolder;
        }
        h5{
            font-family: 'Benne', serif;
        }
    }
}
