<section>
   

    <div class="container">
            <div class="categorias"  >
                <label for="house1">
                    <input type="checkbox" class="custom-control-input" name="Gryffindor" id="house1"> Gryffindor
                </label>
                <label for="house2">
                    <input type="checkbox" class="custom-control-input" name="Gryffindor" id="house2"> Slytherin
                </label>
                <label for="house3">
                    <input type="checkbox" class="custom-control-input" name="Gryffindor" id="house3"> Hufflepuff
                </label>
                <label for="house4">
                    <input type="checkbox" class="custom-control-input" name="Gryffindor" id="house4"> Ravenclaw
                </label>
            </div>


        <span class=" d-flex justify-content-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="Prev"></pagination-controls>
        </span>
        <div class="row gap-4 justify-content-center">
            <!--? Pipe paginate que lograra la paginacion de la importación ngx pagination  -->
            <div class="card  text-center" style="width: 18rem;"
                *ngFor="let personaje of Personajes | paginate: { itemsPerPage: 16, currentPage: p }"
                [ngClass]="{'Mago': personaje.wizard && !personaje.house}" [class]="personaje.house">
                <img [src]="personaje.image" appImageDefault class="card-img-top" [alt]="personaje.name">
                <div class="card-body">
                    <h3 class="card-title">{{personaje.name}}</h3>
                    <h5 class="card-title">{{personaje.house}}</h5>
                    <p class="card-text" *ngIf="personaje.actor"><b>Actor:</b> {{personaje.actor}}</p>
                    <p class="card-text" *ngIf="personaje.ancestry"><b>Ancestry:</b> {{personaje.ancestry}}</p>
                    <p class="card-text" *ngIf="personaje.patronus"><b>Patronus:</b> {{personaje.patronus}}</p>
                    <!-- <input type="text" name="url" id="PerUrl" [(ngModel)]="personaje.name"> -->
                    <button routerLink="/detail/{{personaje.id}}" class="btn ">More Details</button>
                </div>
            </div>
        </div>

    </div>
</section>