<section>
    <div class="container ">
        <div class="row align-items-center menuCategorias">
            <div class="col-md-7" id="categorias">
                <div class="form-check form-switch catItem">
                    <label for="house1" class="form-check-label">
                        <input type="checkbox" class="form-check-input" role="switch" name="Gryffindor" id="house1"
                            value="Gryffindor" (input)="categActiva($event)"
                            [checked]="categorias.includes('Gryffindor')">Gryffindor
                    </label>
                </div>
                <div class="form-check form-switch catItem">
                    <label for="house2">
                        <input type="checkbox" class="form-check-input" role="switch" name="Slytherin" id="house2"
                            value="Slytherin" (input)="categActiva($event)"
                            [checked]="categorias.includes('Slytherin')">Slytherin
                    </label>
                </div>
                <div class="form-check form-switch catItem">
                    <label for="house3">
                        <input type="checkbox" class="form-check-input" role="switch" name="Hufflepuff" id="house3"
                            value="Hufflepuff" (input)="categActiva($event)"
                            [checked]="categorias.includes('Hufflepuff')">Hufflepuff
                    </label>
                </div>
                <div class="form-check form-switch catItem">
                    <label for="house4">
                        <input type="checkbox" class="form-check-input" role="switch" name="Ravenclaw" id="house4"
                            value="Ravenclaw" (input)="categActiva($event)"
                            [checked]="categorias.includes('Ravenclaw')">Ravenclaw
                    </label>
                </div>
                <div class="form-check form-switch catItem">
                    <label for="house5">
                        <input type="checkbox" class="form-check-input" role="switch" name="Otras" id="house5"
                            value="otras" (input)="categActiva($event)" [checked]="categorias.includes('otras')">Casa
                        desconocida
                    </label>
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 d-flex justify-content-center">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Más categorias..
                </a>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" (click)="catMuggles()">Muggles</button></li>
                    <li><button class="dropdown-item" (click)="catOtrasEsp()">Otras especies</button></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3  justify-content-center">
                <input type="text" class="form-control" name="" id="" placeholder="Buscar nombre"
                    [(ngModel)]="inputSearch" (keyup)="filtroSearch()">
            </div>
        </div>
    </div>

    <div class="container">
        <!--* Mensaje de no coincidencia de la búsqueda -->
        <div *ngIf="Personajes.length == 0" class="d-flex justify-content-center text-center" style="min-height: 50vh;">
            <h2
                style="color: white; font-size: 3rem; text-shadow: 0 0 15px #0eb858, 0 0 20px #12f575;  padding-top: 3rem;">
                No hay resultados de su busqueda</h2>
        </div>

        <div class="row gap-3 justify-content-center">
            <!--? Pipe paginate que lograra la paginacion de la importación ngx pagination  -->
            <div class="card  text-center" style="width: 15.5rem; max-height: 33rem;"
                *ngFor="let personaje of Personajes | paginate: { itemsPerPage: 20, currentPage: p }"
                [ngClass]="{'Mago': personaje.wizard && !personaje.house}" [class]="personaje.house">
                <img [src]="personaje.image" appImageDefault class="card-img-top" [alt]="'Img de '+personaje.name">
                <div class="card-body">
                    <div class="tituloCard">
                        <h4 class="card-title">{{personaje.name}}</h4>
                        <h5 class="card-title">{{personaje.house}}</h5>
                    </div>
                    <p class="card-text" *ngIf="personaje.actor"><b>Actor:</b> {{personaje.actor}}</p>
                    <p class="card-text" *ngIf="personaje.ancestry"><b>Ascendencia:</b> {{personaje.ancestry}}</p>
                    <p class="card-text" *ngIf="personaje.patronus"><b>Patronus:</b> {{personaje.patronus}}</p>
                    <button (click)="detallePers(personaje)" class="btn "  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Más Detalles...</button>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered  modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>  <!--? Necesario para que el botóon cerrar este a la derecha -->
                        <!-- <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">Cerrar</button> -->
                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                    </div>
                    <div class="modal-body">

                        <section>
                            <div class="container-fluid">
                                <div class="row  m-center justify-content-center">
                                    <div class="card border-info text-white mb-3 mt-3 p-3" style="max-width: 100%; font-size: 1.12rem; ">
                                        <div class="row g-3 ">
                                            <div class="col-md-4 align-self-center imgCard ">
                                                <img [src]="PersonajeModal.image" appImageDefault class="align-self-center" style="width:100%; "
                                                    [alt]="PersonajeModal.name">
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="card-body ">
                                                    <h2 class="card-title ">{{PersonajeModal.name}}</h2>
                                                    <h4 class="card-title ">{{PersonajeModal.house}}</h4>
                                                    <div class="card-text">
                                                        <p *ngIf="PersonajeModal.alternate_names != 0"><b>Nombres Alternativos:</b>
                                                            {{PersonajeModal.alternate_names}}</p>
                                                        <p *ngIf="PersonajeModal.actor"><b>Actor:</b> {{PersonajeModal.actor}}</p>
                                                        <p *ngIf="PersonajeModal.alternate_actors != 0"><b>Actores Alternativos:</b>
                                                            {{PersonajeModal.alternate_actors}}</p>
                                                        
                                                            <!--! Para que no salten errores se aplico los Operadores And y Or en el ngIf, y tambien para que solo les aparesca a los magos que muestran los datos de su varita-->
                                                        <p *ngIf="PersonajeModal.wizard && (PersonajeModal.wand.core || PersonajeModal.wand.wood)"><b>Varita:</b>  
                                                            <li *ngIf="PersonajeModal.wand.core">Núcleo: {{PersonajeModal.wand.core}}</li>
                                                            <li *ngIf="PersonajeModal.wand.wood">Madera: {{PersonajeModal.wand.wood}}</li>
                                                            <li *ngIf="PersonajeModal.wand.length">Longitud: {{PersonajeModal.wand.length}}</li>
                                                        </p>
                                                        <p *ngIf="PersonajeModal.patronus"><b>Patronus:</b> {{PersonajeModal.patronus}}</p>
                                                        <p *ngIf="PersonajeModal.species"><b>Especie:</b> {{PersonajeModal.species}}</p>
                                                        <p *ngIf="PersonajeModal.gender"><b>Género:</b> {{PersonajeModal.gender}}</p>
                                                        <p *ngIf="PersonajeModal.wizard == true"><b>¿Es Mago?:</b> Verdadero</p>
                                                        <p *ngIf="PersonajeModal.wizard == false"><b>¿Es Mago?:</b> Falso</p>
                                                        <p *ngIf="PersonajeModal.ancestry"><b>Ascendencia:</b> {{PersonajeModal.ancestry}}</p>
                                                        <p *ngIf="PersonajeModal.eyeColour"><b>Color de Ojos:</b> {{PersonajeModal.eyeColour}}</p>
                                                        <p *ngIf="PersonajeModal.hairColour"><b>Color de Pelo:</b> {{PersonajeModal.hairColour}}</p>
                                                        <p *ngIf="PersonajeModal.dateOfBirth"><b>Fecha de Nacimiento:</b> {{PersonajeModal.dateOfBirth}}</p>
                                                        <!-- <p *ngIf="PersonajeModal.yearOfBirth"><b>Year Of Birth:</b> {{PersonajeModal.yearOfBirth}}</p> -->
                                                        <p *ngIf="PersonajeModal.alive == true"><b>Estado:</b> con vida</p>
                                                        <p *ngIf="PersonajeModal.alive == false"><b>Estado:</b> fallecido</p>
                                                        <!-- <p ><b>hogwartsStudent:</b> {{PersonajeModal.hogwartsStudent}}</p>
                                                        <p ><b>hogwartsStaff:</b> {{PersonajeModal.hogwartsStaff}}</p> -->
                                                    </div>
                                                    <!-- <button class="btn btn-outline-info">Go Back</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>                        
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div> -->
                </div>
            </div>
        </div>

        <!--? Con [autoHide] de la pagination ya desaparece la pagination al caber las cards en una sola ventana, pero no desaparece su background-image, por eso se agrego el *ngIf -->
        <span class=" d-flex justify-content-center" *ngIf="Personajes.length >20 ">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Prev"
                [responsive]="true" [maxSize]="6" [autoHide]="true"></pagination-controls>
        </span>
    </div>
</section>